:root {
    --primary: #6854c0;
    --bg: #060606;
    --card-bg: rgba(255, 255, 255, 0.12);
    --text-color: #ffffff;
    --shadow: rgba(0, 0, 0, 0.1);
}

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background: linear-gradient(135deg, #000, var(--bg));
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99299;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: var(--text-color);
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--text-color);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../fahad/img/mike-kenneally-tNALoIZhqVM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3,1) 3%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: var(--text-color);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    transition: background-color 0.3s;
}

.hero .content .cta:hover {
    background-color: darken(var(--primary), 10%);
}

/* Card Section */
#cards {
    width: 70%;
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 2rem; /* Add margin to separate from navbar */
}

.card {
    min-width: 200px;
    height: 350px;
    flex: 1 1 250px;
    background-color: var(--card-bg);
    border-radius: 12px;
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
    box-shadow: 0 4px 8px var(--shadow);
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 6px 12px var(--shadow); /* Deeper shadow on hover */
}

.card-content {
    position: absolute;
    inset: 1px;
    background-color: #131315;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.card-content > i {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.5);
}

.card-content > p {
    color: rgba(255, 255, 255, 0.5);
}

.card-content > a {
    width: 90%;
    padding-block: 0.8rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
}

.card-content > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* About Section */
.about {
    padding: 10rem 7% 1.4rem;
}

.about h2 {
    text-align: left;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Menu Section */
.menu {
    padding: 10rem 7% 1.4rem;
}

.menu h2 {
    text-align: left;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.menu h2 span {
    color: var(--primary);
}

.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 2rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem auto 0.5rem;
}

/* Contact Section */
.contact {
    padding: 10rem 7% 1.4rem;
}

.contact h2 {
    text-align: left;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.contact .row form .input-group input,
.contact .row form .input-group textarea {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background: transparent;
    color: var(--text-color);
    padding: 1rem;
}

.contact .row form .input-group textarea {
    resize: none;
}

.contact .row form button {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.contact .row form button:hover {
    background-color: darken(var(--p), 10%);
}

/* Footer */
footer {
    padding: 5rem 7%;
    background-color: #72afff;
    margin-top: 5rem;
}

footer h3 {
    font-size: 1.8rem;
    color: #72afff;
    margin-bottom: 1rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

footer .social-links a {
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 1rem;
}

footer .social-links a:hover {
    color: var(--primary);
}

footer {
    background-color: #28313b;
    text-align: center;
    padding: 2rem 0; /* Increased padding for better appearance */
    position: relative; /* Ensure it’s positioned relative to other content */
    z-index: 1; /* Bring footer to the front */
}

body {
    display: flex;
    flex-direction: column; /* Ensure body can stack content vertically */
    min-height: 100vh; /* Full height to ensure footer is at the bottom */
}

#cards, .about, .menu, .contact {
    flex: 1; /* Allow sections to grow and fill space */
}

body {
    min-height: 100vh; /* Ensures the footer will be at the bottom */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}


/* Responsive Styles */
@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: none; /* Hide on mobile */
    }

    #hamburger-menu {
        display: block; /* Show hamburger on mobile */
    }

    .hero .content {
        padding: 0 5%;
    }

    #cards {
        width: 100%;
        padding: 0; /* Adjust padding on mobile */
    }

    .about .row {
        flex-direction: column; /* Stack elements vertically */
    }

    .menu .row .menu-card {
        flex: 1 1 45%; /* Adjust size for mobile */
        margin: 0 10px; /* Add margin */
    }

    .contact .row {
        flex-direction: column; /* Stack elements vertically */
    }

    .contact .row .map,
    .contact .row form {
        width: 100%; /* Full width on mobile */
    }
}
